<div class="layout-box">

    <div class="top-bar">
        <h1>&#10697; Hell's Hot Notes | </h1>
        <ul class="nav-bar">
            <a class="nav-link" routerLink="notes/list" routerLinkActive="active">Notes</a>
            <a class="nav-link" routerLink="notes/tags" routerLinkActive="active">Tags</a>
            <a class="nav-link" routerLink="notes/reminders" routerLinkActive="active">Reminders</a>
        </ul>
    </div>

    <div class="page-content">
        <router-outlet>
            
        </router-outlet>
    </div>

</div>